﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Color/css")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="/Content/font-awesome.min.css">
</head>
<body>
        <div class="container">
            <h1>Josue Amador Rodriguez</h1>
            <div class="navbar navbar-inverse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="/Home">Home</a></li>
                    <li>@Html.ActionLink("Contact", "Contact")</li>
                    <li>@Html.ActionLink("Recommend", "Recommend")</li>
                </ul>
                <p class="navbar-text navbar-right">Basically, if reverse engineering is banned, then a lot of the open source community is doomed to fail.</p>
            </div>


            @RenderBody()
            </div>

    @Scripts.Render("~/bundles/bootstrap/js")
    <script>
        $('li a[href="' + this.location.pathname + '"]').parent().addClass('active');
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
