﻿@{
    ViewBag.Title = "Contact";
}
<legend></legend>
<div class="row">
    <div class="col-md-8">
        <h2>Contact Us</h2>
        <form role="form" action="SendEmail" method="post">
            <div class="form-group">
                <input name="subject" type="Text" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <input name="toAddress" type="email" class="form-control" id="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <textarea name="body" class="form-control" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-info pull-right">Submit</button>
        </form>
    </div>
    <div class="col-md-3">
        <h3>Contact Information</h3>
        <div>
            <address>
                <ul>
                    <li><strong>Josue Amador Rodriguez</strong></li>
                    <li>Address</li>
                    <ul>
                        <li>Sucre,Quesada<br>
                            San Carlos, Costa Rica<br>
                        </li>
                    </ul>
                    <li>Marital status</li>
                    <ul>
                        <li>Single
                        </li>
                    </ul>
                    <li>
                        <abbr title="Phone">P:</abbr>(506) 85424570</li>
                    <li><a href="mailto:elo_900@hotmail.com">elo_900@hotmail.com</a><br />
                    </li>
                </ul>
            </address>
        </div>
        <h3>Others:</h3><br />
        <center>
        <a href="http://www.facebook.com/josue.amador.775"><i  class="fa fa-facebook fa-4x face"></i></a>
        <a href="https://plus.google.com/u/0/118144314756070389960"><i  class="fa fa-google-plus fa-4x google"></i> </a>
        <a href="http://cr.linkedin.com/pub/josue-amador-rodriguez/69/537/a55/"><i  class="fa fa-linkedin-square fa-4x linke"></i></a>
         </center>
    </div>
</div>
<script>
  
</script>

