﻿@{
    ViewBag.Title = "Josue Amador R";
}
<div class="row">
    <div class="col-md-3">
        <img src="/Images/NUEVA.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
        <div>
            <address>
                <ul>
                    <li><strong>Josue Amador Rodriguez</strong></li>
                    <li>Address</li>
                    <ul>
                        <li>Sucre,Quesada<br>
                            San Carlos, Costa Rica<br>
                        </li>
                    </ul>
                    <li>Marital status</li>
                    <ul>
                        <li>Single
                        </li>
                    </ul>
                    <li>
                        <abbr title="Phone">P:</abbr>(506) 88908755</li>
                    <li><a class="color" href="mailto:elo_900@hotmail.com">elo_900@hotmail.com</a><br />
                    </li>
                </ul>
            </address>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <hr />
            <h4>ACADEMIC</h4>
            <ul>
                <li>2005-2011 High school-Liceo de Sucre</li>
                <li>2012-2015 Current student career in software engineering-UTN</li>
            </ul>
            <hr />
            <h4>LANGUAGES</h4>
            <ul>
                <li>Spanish native.</li>
                <li>English middle.</li>
            </ul>
            <hr />
            <h4>TECHNICAL KNOWLEDGE</h4>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <i  class="fa fa-cloud fa-5x color"></i>
                    <h4>Web environments</h4>
                </div>
                <hr />
                <ul>
                    <li>PHP</li>
                    <li>HTML</li>
                    <li>Javascript</li>
                    <li>WebServices</li>
                    <li>jQuery</li>
                    <li>ASP</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <i class="fa fa-pencil-square-o fa-5x color"></i>
                    <h4>IDE</h4>
                </div>
                <hr />
                <ul>
                    <li>Visual Studio</li>
                    <li>Eclipse</li>
                    <li>Net beans</li>
                    <li>Text Editor</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <i class="fa fa-cogs fa-5x color"></i>
                    <h4>Web Server</h4>
                </div>
                <hr />
                <ul>
                    <li>Apache</li>
                    <li>IIS</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <i class="fa fa-table fa-5x color"></i>
                    <h4>Databases</h4>
                </div>
                <hr />
                <ul>
                    <li>SQL</li>
                    <li>SQL Server</li>
                    <li>MySql</li>
                    <li>PostgreSQL</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <i class="fa fa-linux fa-5x color"></i>
                    <h4>Operating systems</h4>
                </div>
                <hr />
                <ul>
                    <li>Linux(Debian, Ubuntu, etc)</li>
                    <li>Windows</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <i class="fa fa-bitbucket fa-5x color"></i>
                    <h4>Version control</h4>
                </div>
                <hr />
                <ul>
                    <li>GIT and bitbucket</li>
                    <li>GitHub</li>
                </ul>
            </div>

            <div class="col-md-3">
                <div class="text-center">
                    <i class="fa fa-desktop  fa-5x color"></i>
                    <h4>Programming</h4>
                </div>
                <hr />
                <ul>
                    <li>C#</li>
                    <li>Java</li>
                </ul>
            </div>
		
	   <div class="col-md-3">
                <div class="text-center">
                    <i class="fa fa-mobile fa-5x color"></i>
                    <h4>Mobile</h4>
                </div>
                <hr />
                <ul>
                    <li>Android</li>
                </ul>
            </div>

        </div>
    </div>
</div>
