﻿@{
    ViewBag.Title = "Josue Amador R";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="Foto/yo.jpg" class="img-responsive img-thumbnail" alt="Responsive image" width="200" height="200">
            <div>
                <address>
                    <strong>Josue Amador Rodriguez</strong><br>
                    Sucre,Quesada<br>
                    San Carlos, Costa Rica<br>
                    Soltero<br />
                    <abbr title="Phone">P:</abbr>(506) 85424570
                </address>

                <address>
                    <a href="mailto:elo_900@hotmail.com">elo_900@hotmail.com</a><br />
                    <a href="https://www.facebook.com/josue.amador.775">Facebook</a>
                </address>
            </div>
        </div>
        <div class="col-md-8">
            <dl>
                <dt>FORMACIÓN ACADÉMICA</dt>
                <dd>2005-2011 Bachillerato en educacion media-Liceo de Sucre</dd>
                <dd>2012-2014 Estudiante actual de la carrera de ingeniería en software</dd>
                <dt>IDIOMAS</dt>
                <dd>Español Natal.</dd>
                <dd>Ingles Intermedio.</dd>
                <dt>CONOCIMIENTOS TECNICOS</dt>
                </dl>
                <ul>
                    <li>
                        <strong>Programación de aplicaciones web:</strong>
                        PHP,HTML,XML,Javascript,WebServices,(Sitio desarrollado en ASP).
                    </li>
                    <li><strong>Entornos de Programación:</strong>
                        Visual Studio,Eclipse,Net beans,Ademas de diferentes editores de texto
                    </li>
                    <li><strong>Servidores web:</strong>
                        Apache, IIS
                    </li>
                    <li><strong>Bases de datos:</strong>
                        SQL Server,MySql,PostgreSQL
                    </li>
                    <li><strong>Sistemas Operativos:</strong>
                        Debian,Ubuntu,Windows
                    </li>
                    <li><strong>Control de Versiones:</strong>
                        GIT con bitbucket,GitHub
                    </li>
                </ul>
        </div>
    </div>
</div>
