﻿@{
    ViewBag.Title = "Recommend";
}
<hr />
<!-- Button trigger modal -->
<center>
<button class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
    Recommend me
</button>
</center>
<hr />
@foreach (var item in ViewBag.recommends)
{
        

<div class="row">
                <div class="col-md-12 post">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                <i class="fa fa-user"></i>by @item.Name</h4>
                        </div>
                    </div>
                            <p style="word-wrap:break-word;">
                               @item.Comment
                            </p>
                         <div class="row">
                        <div class="col-md-12 post-header-line">
                            <i class="fa fa-phone fa-1x"></i> Phone @item.Phone | <i class="fa fa-calendar"></i>
                            @item.Date |  <i class="fa fa-envelope-o "></i> Email @item.Email
                        </div>
                    </div>
                    </div>
    </div>
    <hr />
} 
<!-- Modal -->
<div class="modal  fade"" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Recommend me</h4>
            </div>
            <form action="/Home/CreateRecommend" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                            <input class="form-control" name="name" placeholder="Name" type="text" required autofocus />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                            <input class="form-control" name="email" placeholder="E-mail" type="email" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                            <input class="form-control" name="phone" placeholder="Phone" type="text"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <textarea style="resize: vertical;" class="form-control" placeholder="Message..." rows="6" name="comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">GO</button>
                </div>
            </form>
        </div>
    </div>
</div>
